* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: all 0.2s linear; */
  }
  
  :root {
    --background-color: #fff;
    --primary-color: #ce7a2b;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background: var(--background-color);
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    margin: 0.5rem 0;
  }
  
  .container {
    max-width: 1280px;
    overflow: hidden;
    margin: auto;
    /* padding: 0 2rem; */
  }
  
  img {
    width: 100%;
  }
  
  /* navbar */
  
  #navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
    background: var(--background-color);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  
  .logo h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  span {
    color: var(--primary-color);
  }
  
  .navbar-container .nav-links ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    /* flex-direction: column; */
  }
  
  .navbar-container .nav-links ul li a {
    font-size: 1.2rem;
    opacity: 0.6;
  }
  .navbar-container .nav-links ul li i {
    background: #a7a0a0;
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 1.1rem;
    text-align: center;
  }
  .mobile-links {
    display: none;
    position: absolute;
    top: -400%;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    transition: 1s;
  }
  
  .mobile-links.active {
    top: 100%;
  }
  
  .mobile-links ul li {
    background: #f8f6f6;
  }
  .mobile-links ul li a {
    color: #767575;
  }
  
  .menu-button {
    display: none;
    background: none;
    border: none;
  
    margin: 10px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .menu-button i {
    transition: all 0.2s linear;
    font-size: 1.5rem;
  }
  
  .fa-bars {
    transform: rotate(180deg);
  }
  
  .mobile-links ul li {
    display: flex;
    padding: 0.8rem;
    margin: 1rem 1rem;
    border: 0.6px solid #908d8d;
    border-radius: 6px;
  }
  
  /* showcase */
  
/*   
  #showcase{ 
      background-image: url(img/a1.jpg) no-repeat center center/cover;
      background-attachment: fixed;
  padding: 3rem 0;
  } */
/* 
  #showcase{
    background: url(img/a1.jpg) no-repeat center center/cover;
  } */

  #showcase{
    min-height: 70vh;
    background: url(img/a1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    }
    
  #showcase .showcase-container{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  #showcase .showcase-container .showcase-content{
      display: flex;
      justify-content: center;
      background: var(--background-color);
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 50%;
      padding: 2.5rem 1rem;
      gap: .8rem;
      margin: 10rem 0;
      border-radius: 12px;
      
  }
  .showcase-container .showcase-content p {
      width: 90%;
    } 
    .showcase-container .showcase-content h1{
      width: 100%;
      font-size: 3rem;
    }
  /* 
  #showcase {
    padding: 2rem;
  
    position: relative;
   
  }
  
  
  .showcase-container .showcase-content {
    background: #fff;
    padding: 2.5rem;
    width: 40%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
  }
  
  .showcase-container .showcase-content p {
    width: 90%;
  } */
  
  
  
  .btn {
    display: inline-block;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    background: #333;
    border-radius: 6px;
    color: var(--background-color);
  
    font-size: 1rem;
  }
  
  .btn:hover {
    background: var(--primary-color);
    transition: 0.4s;
  }
  
  .showcase-container .showcase-content {
    z-index: 1;
  }
  
  /* blog  content */
  
  .blog-post {
    background: #e3e1e1;
  }
  .blog-container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
  }
  
  .blog-content .box {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 1rem;
    outline: 1px solid #d4d3d3;
    border-radius: 8px;
    margin-bottom: 1.3rem;
  }
  
  .box-date {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap: 6px;
    padding: 1rem 0;
    color: var(--primary-color);
  }
  
  .blog-content .box h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .blog-content .box p {
    opacity: 0.6;
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 300;
  }
  
  .blog-content .box .p-2 {
    margin-bottom: 1.8rem;
  }
  

  .blog-content .box .links{
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    border-top: 1px solid #bdbaba;
    padding-top: 10px;
  }
  .blog-content .box .links a {
    color: blue;
  }
  
  

  
  .blog-content .box .links > div {
    display: flex;
    gap: 0.6rem;
  }
  .blog-content .box img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .blog-side .bg-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    align-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 0;
    /* align-items: center; */
    height: 100%;
    color: #333;
  }
  
  .blog-side .bg-box {
    margin-bottom: 1rem;
  }
  
  .blog-side .bg-box h2 {
    color: var(--background-color);
    padding: 0.8rem;
    background: #000;
    font-size: 1.3rem;
    /* align-self: flex-start; */
  }
  
  .bg-s img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }
  
  .social-links a {
    padding: 0.8rem;
    background: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-top: 0.55rem;
    margin-right: 0.6rem;
  }
  
  .social-links a:hover {
    color: var(--primary-color);
    transform: rotate(360deg);
    transition: 0.4s;
  }
  
  /* category  */
  
  .list-heading h2 {
    color: var(--background-color);
    padding: 0.8rem;
    background: #000;
    font-size: 1.3rem;
  }
  
  .bg-category {
    background: #fff;
    margin-bottom: 1rem;
  }
  .list-items ul {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .list-items ul li {
    display: flex;
    justify-content: space-between;
  
    align-items: center;
  }
  .list-items ul li a:hover,
  .list-items ul li span:hover {
    color: var(--primary-color);
    transition: 0.2s;
  }
  .list-items ul li span {
    background: #8d8d8d;
    padding: 0.3rem;
    border-radius: 4px;
    color: #fff;
  }
  
  .bg-popular h2 {
    color: var(--background-color);
    padding: 0.8rem;
    background: #000;
    font-size: 1.3rem;
  }
  
  .bg-popular .pop-pst {
    background: var(--background-color);
    padding: 1rem;
    color: #333;
  }
  
  .bg-popular .pop-pst h3 {
    font-weight: 400;
    color: #333;
    font-size: 1.5rem;
  }
  .bg-popular .pop-pst .p-box {
    font-weight: 200;
    display: flex;
    gap: 6px;
    text-align: center;
    margin-top: 0.8rem;
    color: #333;
  }
  
  .popular-tags {
    margin-top: 1rem;
  }
  
  .popular-tags h2 {
    color: var(--background-color);
    padding: 0.8rem;
    background: #000;
    font-size: 1.3rem;
  }
  
  .popular-tags .tags {
    background: #fff;
  }
  
  .popular-tags .tags ul {
    display: flex;
  
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .popular-tags .tags ul li a {
    display: inline-block;
  
    padding: 0.6rem;
    border-radius: 4px;
    color: #333;
    border: 1px solid #d4d3d3;
    font-size: 0.9rem;
    margin: 0.5rem;
  }
  
  .popular-tags .tags ul li a:hover {
    background: #8d8d8d;
    transition: 0.3s;
  }
  
  /* contact */
  
  .contact {
    background: url(/img/c1.jpg) no-repeat center center/cover;
    background-attachment: fixed;
  }
  .contact-container {
    display: flex;
    justify-content: center;
  }
  .contact-container form {
    padding: 1rem;
  
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    /* margin: 3rem 2.5rem; */
    justify-content: center;
    background: var(--background-color);
    align-items: center;
    width: 80vh;
  }
  .contact-container form h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  
  .contact-container form .name,
  .number {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .contact-container form input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid #d4d3d3;
    padding: 1.2rem;
  }
  
  .contact-container form textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #d4d3d3;
    font-size: 1rem;
    border-radius: 8px;
  }
  .contact-container .btn {
    border: none;
    align-self: flex-start;
    margin-top: 1rem;
  }
  
  /* footer */
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  
    align-items: center;
    padding: 2rem 1rem;
  }
  
  .footer-container .ftr-txt h2 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }
  
  
  
  @media (max-width: 960px) {
  
      .blog-container {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: center;
          gap: 2rem;
          padding: 1rem;
       
        }
  
    .mobile-links {
      display: block;
    }
    .nav-links {
      display: none;
    }
    .logo h1 {
      font-size: 1.3rem;
    }
  
    .menu-button {
      display: block;
    }
  
    .showcase-container .showcase-content h1{
      width: 100%;
      font-size: 2rem;
    }
  
    .footer-container {
      display: flex;
      flex-direction: column;
  
    gap: 1.5rem;
      align-items: center;
      padding: 2rem ;
    }
    
    .footer-container .ftr-txt h2 {
      font-weight: 400;
      font-size: 1.2rem;
    }
    
  }
  
  /* max-width: 991px */
  
  /* max-width: 768px */
  
   @media (max-width: 670px) { 
  
      .blog-container {
          display: grid;
          grid-template-columns:  1fr;
          justify-content: center;
          gap: 2rem;
          padding: 1rem;
          width: 100%;
       
        }
      
    .showcase-container .showcase-content h1{
      width: 100%;
      font-size: 1.4rem;
    }
    .showcase-container .showcase-content p{
      font-size: .8rem;
    }
    #showcase .showcase-container{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
    
   
    
    .blog-content .box{
   
      display: flex;
      flex-direction: column;
      justify-content: center;
  
    }
    .box-date {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      text-align: center;
      gap: 6px;
      padding: 1rem 0;
      color: var(--primary-color);
    }
    
    .blog-content .box h2 {
      font-weight: 400;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    .blog-content .box p {
      opacity: 0.6;
      width: 90%;
      font-size: .8rem;
      line-height: 1.5;
      font-weight: 300;
    }
    
    .blog-content .box .p-2 {
      margin-bottom: 1.8rem;
    }
    
    .blog-content .box .links a {
      color: blue;
    }
          
    .blog-content .box img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
      .blog-side .bg-box p{
        text-align: center;
        
        padding: 0 .8rem;
      }

      .contact-container {
        
        padding: 0 1rem;
      }
  } 
  